{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Выставка собак{% endblock %}

{% block content %}
    <h1>Выставка собак</h1><br>
    <p>
        Добро пожаловать на наш сайт выставки собак, место, где любители собак и профессиональные заводчики со всего мира собираются вместе, чтобы показать красоту, грацию и уникальность пород. </p><p>Наша выставка - это незабываемое событие, которое позволяет вам увидеть многообразие пород, общаться с экспертами и насладиться атмосферой прекрасного мирa собачьей культуры.</p>

    <p>Наши выставки предлагают участникам и зрителям возможность полностью погрузиться в мир собак с различными интерактивными мероприятиями и конкурсами.  </p><p>Вы сможете встретиться с участниками, поближе познакомиться с их собаками, узнать об их породах, увидеть их в действии на ринге и, кто знает, возможно даже встретить будущего четвероногого друга для себя.</p>

    <p>Наша выставка также предлагает зрителям уникальную возможность прославить и отметить талантливых и красивых собак, которые соревнуются в различных классах и категориях.  </p><p>Наши выставки проводятся с соблюдением высоких стандартов, обеспечивая, чтобы каждая собака была оценена квалифицированными экспертами. <br>Красивая и элегантная атмосфера создает прекрасную площадку для представления собак, а также дружественную и общительную обстановку для всех участников.</p>

    <p>Не упустите возможность познакомиться с прекрасными собаками, встретить новых друзей и проникнуться волшебством выставки собак.  </p><p>Мы рады приветствовать вас на нашем сайте выставки собак и надеемся, что ваше участие оставит вас вдохновленными этим прекрасным миром породистых собак!</p>
    </p><br>
    <table>
    <tr><td><img src="{% static 'main/img/dog1.png' %}" alt="Собачка 1"></td>
    <td><img src="{% static 'main/img/dog2.png' %}" alt="Собачка 2"></td></tr>
    <tr><td><img src="{% static 'main/img/dog3.png' %}" alt="Собачка 3"></td>
    <td><img src="{% static 'main/img/dog4.png' %}" alt="Собачка 4"></td></tr>
    </table>
{% endblock %}